@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://img.freepik.com/vetores-gratis/circulo-azul-abstrato-na-tecnologia-de-fundo-preto_1142-9770.jpg?semt=ais_hybrid') no-repeat center center fixed;
  background-size: cover;
}


.home {
  /* Reset e Box Model */
  width: 320px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;

  /* Fundo */
  background: whitesmoke;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}

