@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://img.freepik.com/vetores-gratis/circulo-azul-abstrato-na-tecnologia-de-fundo-preto_1142-9770.jpg?semt=ais_hybrid') no-repeat center center fixed;
  background-size: cover;
}

.home {
  width: 320px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  background: whitesmoke;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}

@keyframes neon {
  0% {
    color: rgb(227, 178, 159);
  }
  15% {
    color: rgb(236, 73, 8);
  }
  20% {
    color: rgb(227, 178, 159);
  }
  25% {
    color: rgb(149, 222, 222);
  }
  40% {
    color: rgb(29, 160, 160);
  }
  45% {
    color: rgb(149, 222, 222);
  }
  50% {
    color: rgb(196, 149, 239);
  }
  65% {
    color: rgb(114, 48, 177);
  }
  70% {
    color: rgb(196, 149, 239);
  }
  75% {
    color: rgb(150, 232, 222);
  }
  90% {
    color: rgb(44, 169, 154);
  }
  95% {
    color: rgb(150, 232, 222);
  }
  100% {
    color: rgb(227, 178, 159);
  }
}
